:global
  #navigation
    position: absolute
    top: 50%
    right: 30px
    transform: translateY(-50%)

    @media screen and (max-width: 768px)
      right: 10px

    li
      transition opacity .3s
      opacity: .5

      a
        color mediumGrey
        display: block
        font-family arial
        font-size 11px
        margin-bottom: 6px
        background: rgba(0, 0, 0, .2)
        border-radius: 50%
        text-align: center
        width 18px
        height 18px
        line-height 18px

    .active
      opacity: 1

  .fp-viewing-firstPage
    #navigation
      li
        a
          color almostWhite
