extends default

block body
  #fullpage
    .section.section-1
      h2.graph-title USD as base currency

    .section.section-2

    .section.section-3

  ul#navigation
    li.active(data-menuanchor='firstPage')
      a(href='#firstPage') 1
    li(data-menuanchor='secondPage')
      a(href='#secondPage') 2
    li(data-menuanchor='thirdPage')
      a(href='#thirdPage') 3
